<!DOCTYPE html>
<html lang="es">
<head>
  {% load static %}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Gestión de Prendas</title>
  <link rel="stylesheet" href="{% static 'css/add.css' %}" />

</head>
<body>

    <header class="top-bar">
        <div class="header-left">
            <span class="titulo">Mi Armario</span>
        </div>

        <div class="header-center">
            <img src="{% static 'img/logo.jpg' %}" alt="Logo Mi Armario" />
        </div> 
        <div class="header-right">
            <a href="{% url 'inicio' %}" class="header-icon">
                <img src="{% static 'img/iconoInicio.png' %}" alt="Inicio" />
            </a>
        </div>
    </header>

    <main class="botonera">
    <section class="opcion rosa">
        <img src="{% static 'img/prendas.jpg' %}" alt="Prendas" />
        <h2>Prendas</h2>
        <p>Playera, blusa, camisa, suéter, sudadera, chamarra, chaqueta, 
            top, chaleco, pantalón, jeans, leggings, falda, shorts, joggers,
            vestido, overol, enterizo, mono, abrigo, gabardina, capa, 
            impermeable, medias, pijama.</p>
        <button class="btn-accion">Añadir</button>
    </section>

    <section class="opcion rojo">
        <img src="{% static 'img/calzado.jpeg' %}" alt="Calzado" />
        <h2>Calzado</h2>
        <p>Tenis, botas, sandalias, zapatos, tacones, mocasines, 
            chanclas, botines, zapatillas deportivas, alpargatas, 
            pantuflas, crocs, slippers, oxfords, loafers.</p>
        <button class="btn-accion">Añadir</button>
    </section>

    <section class="opcion naranja">
        <img src="{% static 'img/accesorios.jpg' %}" alt="Accesorios" />
        <h2>Accesorios</h2>
        <p>Bufanda, sombrero, gorra, guantes, cinturón, pañuelo,
             lentes de sol, corbata, pashmina, diadema, pulsera, collar, 
             aretes, reloj, mochila, bolso, cartera, bandolera, 
             sombrilla, pañuelo de bolsillo.
        </p>
        <button class="btn-accion">Añadir</button>
    </section>
    </main>

</body>
</html>