{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dresscode - Cuenta Creada</title>
    <link rel="stylesheet" href="{% static 'css/Cuenta creada.css' %}">
</head>
<body>
    <div class="theme-toggle-wrapper">
    <button id="theme-toggle" class="theme-button">
        <span class="icon-moon">🌙</span>
        <span class="icon-sun">☀️</span>
    </button>
    </div>
    <div class="container">
        <header class="header">
            <img src="{% static 'img/logo.png' %}" alt="Dresscode" class="logo">
        </header>
        
        <main class="main-content">
            <h2 class="success-title">¡La cuenta fue creada con éxito!</h2>
            <p class="welcome-message">¡Benvenido fastiónista!</p>
        </main>
        
        <button class="btn-continue">
            <strong>Continuar</strong>
        </button>

        <div class="success-image">
            <img src="{% static 'img/exito.png' %}" alt="Cuenta creada con éxito" class="exito-img">
        </div>
    </div>

        
  

    <script>document.querySelector('.btn-continue').addEventListener('click', function() {
    window.location.href = "{% url 'login' %}";
});</script>
</body>
</html>