{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dresscode - Inicio</title>
  <link rel="stylesheet" href="{% static 'css/welcome.css' %}">
</head>

<body>

  <!-- Pantalla de Inicio -->
  <section class="pantalla pantalla-inicio">
    <div class="logo">
      <img src="{% static 'img/logo.jpg' %}" alt="Logo Dresscode" class="logo-small">
    </div>

    <div class="botones">
      <a href="{% url 'login' %}" class="btn btn-naranja">Iniciar sesión</a>
      <a href="{% url 'register' %}" class="btn btn-rojo">¿Eres nuevo? Crea tu cuenta</a>
    </div>
  </section>
</body>
</html>
